<div id="498">
  <div class="container text-center">
    <h1>Sinto mas esse link expirou.</h1>
    <hr/>
    <div class="help">
      <p>Estranho isso aparecer... Peça o Administrador para verificar o porquê.</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
