<div id="500">
  <div class="container text-center">
    <h1 class="display-1 mb-3">Oh my.</h1>
    <hr/>
    <h2>Encontrado um erro não esperado.</h2>
    <div class="help">
      <p>Fala para o Administrador tomar vergonha e fazer o serviço dele.</p>
    </div>
  </div>
</div>
